.container{
    margin-top: 20%;
}
.searchBox {
    
    max-width: 230px;
    background: #4a5667;
    border-radius: 50px;
    position: relative;
  }
  
  
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }
  
  